<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile1" xsi:type="File" filename ="journal1.log"
		layout="${shortdate} ${time}|${level:uppercase=true}|${loggername}|${message:withexception=true}" />
		<target name="logfile" xsi:type="File" filename="journal.log"
		layout="${shortdate} ${time}|${level:uppercase=true}|${loggername}|${message:withexception=true}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel ="Warn" writeTo="logfile"/>
		<logger name="*" minlevel="Error"  maxlevel ="Fatal" writeTo="logfile1"/>
	</rules>
</nlog>